services:
  mysql:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ISOAudit_db
      MYSQL_USER: bonaventure
      MYSQL_PASSWORD: "bona12345#"
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "bonaventure", "--password=bona12345#"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./BackEnd
    container_name: qms-backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      - DB_HOST=mysql
      - DB_USER=bonaventure
      - DB_PASS=bona12345#
      - DB_NAME=ISOAudit_db
      - JWT_SECRET=BonaventurePrivateLimited@PuneMaharashtara
      

  frontend:
    build: ./frontend-new
    container_name: qms-frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mysql-data:
